@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*

{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header
{
    width: 100%;
    height: 70px;
    background-color: #d6d3d3;
   display: flex;
    padding-left: 5%;
    padding-right: 5%;
  justify-content: space-between; 
     
}
.logo
{
    width: 15%;
    height: 70px;
/*   background-color: yellow;*/
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Montserrat',sans-serif;
   font-size: 30px;
}
.nav
{
    width: 30%;
    height:70px;
  /*  background-color: blue;*/
}
.nav_links
{
    height: 70px;
    width: 100%;
   /* background-color: red;*/
    list-style-type:none ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat',sans-serif;
    font-size: 17px;

}
/*bnner css*/
.banner
{
    width: 100%;
    height: 600px;
    background-color: #d6d3d3;
    padding-left:5% ;
    padding-right: 5%;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.details
{
    width: 60%;
    padding: 20px;
    background-color: #d6d3d3;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}
.t1
{
    font-family: 'Montserrat',sans-serif;
    font-size: 60px;
}
.t2
{
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #5b5bb0;
}
.desc
{
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;

}
.button
{
    padding: 15px 40px;
    font-size: 20px;
    margin-top:35px ;
    background-color: #5b5bb0;
    color: white;
    border: 2px solid #5b5bb0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}


.button:hover
{
    background-color: transparent;
    color: #5b5bb0;
}
.person{
    
    
    background-color: #5b5bb0;
    border-radius: 30px;
    padding: 30px;
   /* align-self: flex-end;*/
}
.person-img
{
    height: 250px;
}
